body {
    background-color: #83d555;
    font-family: 'Baskerville', sans-serif;
}

.container {
    border: medium solid #11a92f;
    padding: 10px;
    margin: 2px;
    /*display: flex;*/
    /*justify-content: center;*/
    /* new */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 120px 500px auto;
    grid-template-areas:
    "header  header"
    "dataEntry readme"
    "existingContracts existingContracts";
    background-color: #fff;
    color: #444;
}

@media (max-width: 900px) {
    .container {
        grid-template-rows: 120px 500px auto;
        grid-template-areas:
        "header"
        "readme"
        "dataEntry"
        "existingContracts";
    }
    .contract, .existing-contracts {
        min-width: 450px;
    }
}

.Header {
    grid-area: header;
}

.contract {
    grid-area: dataEntry;
}

.existing-contracts {
    grid-area: existingContracts;
}

.readMe {
    grid-area: readme;
}

.contract, .existing-contracts {
    margin: 20px;
    display: inline-block;
    padding: 40px;
    border: 1px solid #000000;
    background-color: #c74747;
    min-width: 550px;
}

h1 {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-family: Luminari, serif;
}

label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #ffffff;
    margin: 20px;
}

input[type="text"] {
    padding: 6px;
    font-size: 18px;
}

.button {
    background-color: #11a92f;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    padding: 9px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: Luminari, serif;
}

.button-remove {
    background-color: #c74747;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    padding: 9px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: Luminari, serif;
}

.existing-contract ul {
    padding: 10px;
    margin: 20px;
    background-color: #eee;
}

.existing-contract ul > li {
    list-style: none;
    display: flex;
    margin: 10px;
}

.existing-contract ul > li > div {
    margin: 0 5px;
}

.existing-contract ul > li > :first-child {
    font-weight: bold;
}

.existing-contract .complete {
    color: #5aa75a;
    /*text-align: center;*/
}

/* My bling additions */

.Header {
    background-color: #11a92f;
    -webkit-box-shadow: 5px 5px 20px #000,
    1px 1px 1px #000,
    10px 10px 70px #333,
    inset 10px 10px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 20px #000,
    1px 1px 1px #000,
    10px 10px 70px #333,
    inset 10px 10px 20px rgba(0, 0, 0, 0.4);
    font-family: Luminari, serif;
}

.Header > h1 {
    text-shadow: 0 0 1px #000,
    0 0 1px #aaa,
    0 0 2px #999,
    0 0 3px #888,
    0 0 4px #666,
    0 3px 3px rgba(0, 0, 0, 0.5),
    0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.Header > p {
    text-shadow: 1px 1px 1px #bbb;
    text-align: center;
}
